.btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 0;
    background-color: $btn_bg;
    border: 2px solid $white;
    box-shadow: $box-shadow;
    color: $white;
    font-size: $font16; 
    height: 60px; 
    &:focus {
        box-shadow: $box-shadow;
        border: 2px solid $white;
    }
    &:hover{
        color: #fff;
    }
    &.brn-search{
        width: 100%;
    }

}