
#initial_selection{
    position: relative;
    z-index: 2;
}
#search_modal{
    position: fixed;
    height: 100%;
    width: 100vw;
    margin-top:100px;
    z-index: 1;
}
#search_modal .modal-dialog{
    display: block;
}
#results_modal {
    position: relative;
    width: 100%;
    min-height: 280px;
}





.modal-backdrop{
	z-index:0 !important;
}
.search_btn{
	color: #fff !important;
    text-transform: uppercase;
    font-weight: 900;
}
#search_modal .modal-dialog{
    overflow: visible;
    margin-top:0px;
}

#results_modal .modal-dialog .modal-content {
	background-color: rgba(255,255,255,.8) !important;
	padding:10px;
	border: none;
	padding-bottom:150px;
}

#show-ontop-slider {
    position: absolute;
    top: 150px;
    /* height: 100px; */
    /* width: 100vw; */
    z-index: 9999;
    text-align: center;
}

.select2-dropdown{
    z-index:9999;
}
.search_btn{
    z-index: 98;
}


/*
    Search Loading animation and text
*/
.search_loader{
    padding:25px;
    text-align: center;
    position: absolute;
    width:100%;
    height: auto;
}
.search_loader p{
    width: 100%;
    padding: 25px 0px;
    text-align: center;
}
.search_loader img {
    -webkit-animation: loadingSpinner 1.2s infinite ease-in-out;
    animation: loadingSpinner 1.2s infinite ease-in-out;
}
@keyframes loadingSpinner {
    from { transform: rotate(0deg)   }
    to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
    from { -webkit-transform: rotate(0deg)   }
    to   { -webkit-transform: rotate(360deg) }
}



/*
    Swap Rotate
*/
.swap img{
    transition: transform .3s linear;
}
.rotate img{
    transform: rotate(180deg);
}


/*
     Button Animations
*/
.search_btn, .addrow_btn, .removerow_btn{
    cursor: pointer;
    transition: all .3s;
}

.search_btn:hover{
    background-color: #666;
}
.addrow_btn:hover, 
.removerow_btn:hover{
    background-color: #bbb;
}




#status_update{
    color: red;
}

.img-holder {
    width: auto;
    background-size: cover;
    height: 253px;
    background-position-x: right;
    display: flex;
}

.modal_close {
    position: fixed;
    left: 95%;
    right: 10px;
    font-size: 22pt;
    font-weight: 100;
    top: 20px;
    opacity: 1;
    transition: all .4s;
    z-index: 9999999;
    cursor: pointer;
}

.modal_close:hover{
    opacity: 1;
    color: #fff;
}

.modal_close .fa{
    color: #666;
}

.redfont {
    transition: all .4s;
    background-color: #fee !important;
}

.ac_date{
    color: #666;
    font-size: 10pt;
}

#language_select li img{
    padding:0;
    border-radius: 4px;
    overflow: hidden;
    transition: all .1s;
}
#language_select li:hover img{
    margin:0 2px;
    transform : scale(1.2);
    opacity: .8;
}

#language_select{
    margin-bottom: 0;
}

.country-flight{
    margin-bottom: 0 !important;
}

#currency_selector{
    width: 120px;
}

@media (min-width: 768px){
    .search-modal .flight-book-top .country-flight {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        justify-content: flex-end;
        }
}

.tooltip {
    position: fixed;
    z-index: 9999;
}


@supports (-webkit-touch-callout: none) {
    body{
        width: 100vw !important;
    }
 }

 @media (max-width:576px){
	#results_modal{
        min-height:100vh;
        max-width: 100vw;
    }

    .img-holder{
        height: 150px;
    }

    .modal-dialog{
        margin: 0 0 0 0;
    }
}

#search_modal .modal-dialog{
    margin: 0 auto;
}

.default_passenger{
    display: none;
}

.img-enlargeable{
    cursor: zoom-in;
}

.search_loader img{
    margin-top:30px;
}


.leg_departure_dateformat {
    position: absolute;
    display: block;
    align-content: baseline;
    top: 21px;
    left: 31px;
    width: 90%;
    overflow: hidden;
    height: 20px;
    font-size: 14px;
    color: #898989;
    font-family: 'Avenir';
    font-weight: 500;
    z-index: 0;
    pointer-events: none;
}

.leg_departure_date {
    opacity: 0 !important;
}