#admin-container .input-group{
    padding-bottom:5px;
}

#admin-title{
    color:teal;
}
#admin-title span{
    font-size: 10pt;
    color:#999;
}

#admin-container button{
    background-color: teal;
    color:#fff;
    transition:all .4s;
} 
#admin-container button:hover{
    background-color:#000;
}


/*
 Status Messages 
 */
.signnow_loading{
    width: 100px;
    display: none;
}

.signnow_success,.signnow_error{
    position: relative;
    display: none;
    font-size: 10pt;
    padding: 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 4px;
}
.signnow_success{
    background-color: #efe;
}
.signnow_error{
    background-color: #fee;
}

/* Show when */
.signnow_status_loading .signnow_loading{
    display: inline-block;
}
.signnow_status_success .signnow_success{
    display: inline-block;
}

.signnow_status_error .signnow_error{
    display: block;
}