/////////////////////////////////
//    Theme Primary Colors
//////////////////////////////////
$white: #fff;
$black: #000; 
$primary: #898989;
$gray_color: #828282;
$light_gray_color: #8b8b8e;
$dark_gray_color: #737373;
$btn_bg: #cbcbcb;
$border_color: #979797;
 

$black-secondary: #383838;
$dark-grey:#5e5e5e;
$text-label:#8a8a8a;
$text-nobel:#9f9f9f;
$divider-color:#eaeaea;
$border-form:#D7D7D7;
$light-grey:#737373;
/////////////////////////////////
//        FONT SIZES
//////////////////////////////////
 $font24: 24px;
$font20: 20px;
$font16: 16px;
$font14: 14px;
$font13: 13px;
$font12: 12px;
$font11: 11px;
$font10: 10px;
$font8: 8px;
// TEXT _SHADOW
 
$box-shadow: 0 2px 16px 0 rgba(128, 128, 128, 0.5);
 