html,
body {
    outline: none;
    background-color: $white; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
 
}

a:focus {
    outline: none;
    outline-offset: inherit;
}

button:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-color: transparent;
}

p {
    margin-bottom: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin-left: 0;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    outline-offset: inherit;
}

.btn_center {
    display: block;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}